# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
*.swp

# eclipse conf file
.cache
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
out
build
null
tmp*
#temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

#mac
.DS_Store

#ensime
.ensime*
ensime.sbt

# website
site/content/api
site/content/documentation/
site/output

.metals/
.bloop/
.bsp/
metals.sbt

.vscode/settings.json
